.sheet {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border: 1px solid #333;
  background: #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.header,
.row {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.header {
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sno-col {
  text-align: center;
}

.desc-col {
  padding-left: 10px;
}

.row {
  margin-bottom: 10px;
}

.sno-input {
  width: 80px;
  padding: 6px;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
}

.desc {
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.company-name {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.file-name {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 5%;
  margin-left: 30%;
  margin-bottom: 1%;
}
